.container {
  display: flex;
  flex-direction: row;
}

.demo-chart {
  width: 50%;
  height: 35rem; /* 設置圖表的寬度為父元素的一半 */
}

.form {
  width: 50%; /* 設置表單的寬度為父元素的一半 */
}

.form {
  margin-left: 3rem;
}
.steelBlueCols {
  border: 0.3rem solid #555555;
  width:30rem;
  text-align: center;
}

.steelBlueCols thead {
  background-color: hsl(218.44deg 52.03% 51.76%);
  color: white;
}

.steelBlueCols tr:nth-child(even) {
  background-color: hsl(226.67deg 39.13% 86.47%);
}

.steelBlueCols tr:nth-child(odd) {
  background-color: #e9e9e9;
}

